.heroSection {
  margin-top: 4rem;
}

.heroSection_container_left {
  width: 40vw;
  margin-left: 4rem;
  margin-top: rem;
}
.heroSection_container {
  display: flex;
  gap: 6rem;
}
.heroSection_container_left li {
  text-align: justify;
  color: #828282;
  font-size: 1.1vw;
  margin-top: 1rem;
}

.heroSection_container_left_offer_box {
  background-color: #00a2ff;
  color: #fff;
  font-weight: 700;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  margin-top: 4rem;
}

.heroSection_container_left_offer_box b {
  color: red;
}

@media (max-width: 373px) {
  .heroSection_container {
    flex-direction: column;
  }

  .heroSection_container_left {
    margin-left: 7vw;
  }

  .heroSection_container_left {
    width: 75vw;
  }

  .heroSection_container_left li {
    font-size: 4.5vw;
  }
  .heroSection_container_right {
    display: flex;
    justify-content: center;
    width: 70vw;
    margin-left: 5vw;
  }
}

@media (min-width: 374px) and (max-width: 575px) {
  .heroSection_container {
    flex-direction: column;
  }
  .heroSection_container_left {
    margin-left: 7vw;
  }
  .heroSection_container_left {
    width: 75vw;
  }

  .heroSection_container_left li {
    font-size: 3vw;
  }
  .heroSection_container_right {
    display: flex;
    justify-content: center;
    width: 70vw;
    margin-left: 5vw;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .heroSection_container {
    flex-direction: column;
  }

  .heroSection_container_left {
    width: 75vw;
  }

  .heroSection_container_left li {
    font-size: 2.5vw;
  }
  .heroSection_container_right {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .heroSection_container {
    flex-direction: column;
  }

  .heroSection_container_left {
    width: 70vw;
  }

  .heroSection_container_left li {
    font-size: 1.6vw;
  }
  .heroSection_container_right {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
