.resumeWriting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resumeWriting_hero {
  background-color: #feb700;
  width: 100%;
  height: max-content;
  margin-top: 4rem;
}

.resumeWriting_hero_container {
  display: flex;
  justify-content: space-between;
}

.resumeWriting_container {
  width: 90%;
  padding: 4rem 2rem;
  display: flex;
  gap: 2rem;
  background-color: #fff;
}
.resumeWriting_hero_container_left {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.resumeWriting_hero_container_left h2 {
  font-weight: 700;
  text-decoration: underline;
}
.resumeWriting_hero_container_left h1 {
  font-weight: 900;
  color: #fff;
  font-size: 2.7rem;
}

.resumeWriting_hero_container_left p {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}

.resumeWriting_container_left_data_second h5 {
  font-weight: 700;
}
.resumeWriting_hero_container_right {
  padding: 2rem;
}
.resumeWriting_hero_container_right_img {
  margin-right: 2rem;
}
.resumeWriting_container {
  display: flex;
}
.resumeWriting_container_left_img {
  background-color: #ffd8d8;
}

.resumeWriting_container_right_box_data {
  display: flex;
  flex-direction: column;
}

.resumeWriting_container_right_box_data a {
  padding: 10px 70px;
  border: 1px solid #ededed;
  font-size: 1.1 rem;
  font-weight: 700;
  background-color: white;
  color: black;
  text-decoration: none;
}

.resumeWriting_container_right_box_data a:nth-child(4) {
  color: #00a2ff;
  font-size: 1.2rem;
}

.resumeWriting_container_left_data p {
  text-align: justify;
  font-size: 0.9rem;
  color: #828282;
  font-weight: 400;
}
.resumeWriting_container_right_data {
  width: 50rem;
  height: max-content;
  background-color: #27282c;
  color: #fff;
  padding: 2rem;
  text-align: center;
  line-height: 0.6rem;
}

.resumeWriting_container_right_data_box_icon {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #0986ce;
}

.essayWriting_verified_icon {
  color: #00a2ff;
}
