.australia {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.australia_hero {
  background-color: #00b0ff;
  width: 100%;
  height: max-content;
  margin-top: 4rem;
  display: flex;
}

.australia_hero_container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10rem;
  flex-direction: column;
  margin-top: 3rem;
}

.australia_container {
  padding: 4rem;
  display: flex;
  gap: 2rem;
  background-color: #fff;
}

.australia_hero_container h2 {
  font-weight: 700;
  text-decoration: underline;
}
.australia_hero_container h1 {
  font-weight: 900;
  color: #fff;
  font-size: 2.7rem;
}

.australia_hero_container p {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}

.australia_container_left_data_second h5 {
  font-weight: 700;
}

.australia_container {
  display: flex;
}
.australia_container_left_img {
  background-color: #ffd8d8;
}

.australia_container_right_box_data {
  display: flex;
  flex-direction: column;
}

.australia_container_right_box_data a {
  padding: 10px 70px;
  border: 1px solid #ededed;
  font-size: 1.1 rem;
  font-weight: 700;
  background-color: white;
  color: black;
  text-decoration: none;
}

.australia_container_right_box_data a:nth-child(2) {
  color: #00a2ff;
  font-size: 1.2rem;
}

.australia_container_left_data p {
  text-align: justify;
  font-size: 0.9rem;
  color: #828282;
  font-weight: 400;
}
.australia_container_right_data {
  width: 50rem;
  height: max-content;
  background-color: #27282c;
  color: #fff;
  padding: 2rem;
  text-align: center;
  line-height: 0.6rem;
}

.australia_container_right_data_box_icon {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #0986ce;
}

.australia {
  padding: 0 4rem;
}

.australia_headings {
  text-align: center;
}

.australia_blocks {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.australia_blocks h5 {
  text-align: center;
  font-weight: 700;
}

.australia_blocks_item_info {
  width: 15rem;
  text-align: justify;
  font-size: 0.85rem;
  color: #828282;
}

@media (max-width: 373px) {
  .australia_hero {
    width: 100%;
  }
  .australia_hero_container {
    margin-left: 10vw;
  }
  .australia_hero_container h1 {
    word-wrap: break-word;
    font-size: 1.5rem;
  }
  .australia_hero_container p {
    margin-top: 6vh;
    font-size: 0.7rem;
  }
  .webLogo {
    height: 50vw;
    width: 80vw;
  }
  .australia_container {
    flex-direction: column;
  }
  .australia_container_right_box {
    width: 80vw;
    margin-left: -7vw;
  }

  .australia_container_left_img {
    margin-left: -18vw;
  }
  .australia_img {
    width: 90vw;
    height: 60vw;
  }

  .australia_container_left_data_first {
    width: 110%;
    margin-left: -7vw;
  }

  .australia_container_left_data_first h3 {
    font-size: 8vw;
  }
  .australia_container_left_data_first p {
    font-size: 5vw;
  }
  .australia_container_right_data {
    width: 80vw;
    margin-left: -10vw;
  }

  .australia_blocks {
    flex-direction: column;
    align-items: center;
  }
  .australia_blocks_item_info {
    width: 75vw;
  }

  .australia_blocks_item_info p {
    font-size: 5vw;
  }

  .australia_headings {
    width: 80vw;
  }

  .australia_headings h2 {
    font-size: 9vw;
  }
  .australia_headings p {
    font-size: 5vw;
  }
  .australia_blocks_item h5 {
    font-size: 5vw;
  }
}

@media (min-width: 374px) and (max-width: 575px) {
  .australia_hero {
    width: 100%;
  }
  .australia_hero_container {
    margin-left: 15vw;
  }
  .australia_hero_container h1 {
    word-wrap: break-word;
    font-size: 2.3rem;
  }
  .australia_hero_container p {
    margin-top: 6vh;
  }
  .webLogo {
    height: 40vw;
    width: 70vw;
  }

  .australia_container {
    flex-direction: column;
  }
  .australia_container_right_box {
    width: 80vw;
    margin-left: -3vw;
  }
  .australia_img {
    width: 90vw;
    height: 60vw;
    margin-left: -12vw;
  }

  .australia_container_left_data_first h3 {
    font-size: 6vw;
  }
  .australia_container_left_data_first p {
    font-size: 4vw;
  }
  .australia_container_right_data {
    width: 70vw;
  }

  .australia_blocks {
    flex-direction: column;
    align-items: center;
  }
  .australia_blocks_item_info {
    width: 75vw;
  }

  .australia_blocks_item_info p {
    font-size: 4vw;
  }

  .australia_headings {
    width: 80vw;
  }

  .australia_headings h2 {
    font-size: 7vw;
  }
  .australia_headings p {
    font-size: 4vw;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .australia_hero {
    width: 100%;
  }
  .australia_hero_container {
    margin-left: 15vw;
  }
  .webLogo {
    height: 20vw;
    width: 50vw;
    margin-top: -8vh;
  }

  .australia_container {
    flex-direction: column;
  }
  .australia_container_right_box {
    width: 60vw;
  }
  .australia_img {
    width: 90vw;
    height: 60vw;
    margin-left: -6vw;
  }

  .australia_container_left_data_first h3 {
    font-size: 5vw;
  }
  .australia_container_left_data_first p {
    font-size: 3vw;
  }
  .australia_container_right_data {
    width: 50vw;
  }

  .australia_blocks {
    flex-direction: column;
    align-items: center;
  }
  .australia_blocks_item_info {
    width: 75vw;
  }

  .australia_blocks_item_info p {
    font-size: 3vw;
  }

  .australia_headings {
    width: 80vw;
  }

  .australia_headings h2 {
    font-size: 5vw;
  }
  .australia_headings p {
    font-size: 2.5vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .australia_hero {
    width: 100%;
  }
  .australia_hero_container {
    margin-left: 20vw;
  }
  .australia_container {
    flex-direction: column;
  }
  .australia_container_right_box {
    width: 40vw;
  }
  .australia_img {
    width: 90vw;
    height: 45vw;
    margin-left: -4vw;
  }
  .australia_container_left_data_first h3 {
    font-size: 4vw;
  }
  .australia_container_left_data_first p {
    font-size: 2vw;
  }
  .australia_container_right_data {
    width: 40vw;
  }

  .australia_blocks {
    flex-direction: column;
    align-items: center;
  }
  .australia_blocks_item_info {
    width: 70vw;
  }
}
