.Features {
  margin-top: 8rem;
}

.Features_headings {
  text-align: center;
}

.Features_blocks {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.Features_blocks h5 {
  text-align: center;
  font-weight: 700;
}

.Features_blocks_item_info {
  width: 15rem;
  text-align: justify;
  font-size: 0.85rem;
  color: #828282;
}

.Features_button {
  text-align: center;
  margin-top: 1rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  .Features_blocks {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .Features_blocks {
    display: flex;
    flex-direction: column;
  }
}
