.Features {
  margin-top: 8rem;
}

.Features_headings {
  text-align: center;
}

.Features_headings h2 {
  font-weight: 800;
}

.Features_blocks {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.Features_featureImg {
  width: 15vw;
  height: 10vw;
}
.Features_blocks h5 {
  text-align: center;
  font-weight: 700;
}

.Features_blocks_item_info {
  width: 15rem;
  text-align: justify;
  font-size: 0.85rem;
  color: #828282;
}

@media (max-width: 373px) {
  .Features {
    width: 100%;
  }

  .Features_headings {
    width: 80%;
    text-align: center;
  }

  .Features_headings h2 {
    font-size: 6vw;
  }

  .Features_headings p {
    font-size: 4vw;
  }

  .Features_blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .Features_blocks_item {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .Features_blocks_item h5 {
    font-size: 4vw;
  }
  .Features_blocks_item_info {
    width: 80vw;
    font-size: 5vw;
  }
  .Features_featureImg {
    width: 50vw;
    height: 30vw;
  }
}
@media (min-width: 374px) and (max-width: 575px) {
  .Features {
    width: 100%;
  }

  .Features_headings {
    width: 100%;
    text-align: center;
  }

  .Features_blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .Features_blocks_item {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Features_blocks_item h5 {
    font-size: 4vw;
  }
  .Features_blocks_item_info {
    width: 80vw;
    font-size: 4vw;
  }
  .Features_featureImg {
    width: 50vw;
    height: 30vw;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .Features {
    width: 100%;
  }

  .Features_headings {
    width: 100%;
    text-align: center;
  }

  .Features_blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .Features_blocks_item {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Features_blocks_item h5 {
    font-size: 4vw;
  }
  .Features_blocks_item_info {
    width: 80vw;
    font-size: 3vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Features {
    width: 100%;
  }

  .Features_headings {
    width: 100%;
    text-align: center;
  }

  .Features_blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .Features_blocks_item {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Features_blocks_item h5 {
    font-size: 4vw;
  }
  .Features_blocks_item_info {
    width: 80vw;
    font-size: 1.8vw;
  }
}
