.AboutAssignment {
  display: flex;
  margin-top: 6rem;
  padding: 0 4rem;
}

.AboutAssignment_left {
  padding: 4rem 0;
}

.AboutAssignment_topics {
  display: grid;
  gap: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  grid-template-columns: repeat(7, 1fr);
}

.AboutAssignment_topics p:last-child {
  grid-column: 1 / -1;
  justify-self: center;
}
.AboutAssignment_topics p {
  height: 2rem;
  width: max-content;
  text-align: center;
  line-height: 2rem;
  padding: 0 1rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.AboutAssignment_topics :hover {
  border-bottom: 2px solid#00a2ff;
  transition: all 0.2s ease-in;
  color: #00a2ff;
}

.AboutAssignment_info {
  padding: 1rem;
}

.AboutAssignment_info h4 {
  margin-top: 2rem;
  font-weight: 700;
}

.AboutAssignment_info p {
  font-size: 0.9rem;
  color: #828282;
}

.AboutAssignment_info_list {
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: 0.9rem;
}
.AboutAssignment_img {
  width: 30vw;
  height: 50vw;
}
@media (max-width: 373px) {
  .AboutAssignment {
    flex-direction: column;
    margin-left: -18vw;
  }

  .AboutAssignment_topics {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .AboutAssignment_img {
    width: 60vw;
    height: 70vw;
    margin-left: 7vw;
  }
  .AboutAssignment_info p {
    width: 80vw;
    margin-left: -15vw;
  }
  .AboutAssignment_info_list {
    width: 80vw;
    font-size: 5vw;
    margin-left: -25vw;
  }
}
@media (min-width: 374px) and (max-width: 575px) {
  .AboutAssignment {
    flex-direction: column;
    margin-left: -7vw;
  }

  .AboutAssignment_topics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .AboutAssignment_img {
    width: 60vw;
    height: 70vw;
    margin-left: 7vw;
  }
  .AboutAssignment_info p {
    width: 80vw;
  }
  .AboutAssignment_info_list {
    width: 80vw;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .AboutAssignment {
    flex-direction: column;
  }

  .AboutAssignment_topics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .AboutAssignment_img {
    width: 60vw;
    height: 70vw;
    margin-left: 7vw;
  }
  .AboutAssignment_info p {
    width: 80vw;
  }
  .AboutAssignment_info_list {
    width: 80vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .AboutAssignment {
    flex-direction: column;
    align-items: center;
  }
  .AboutAssignment_img {
    width: 50vw;
    height: 60vw;
  }
}
