.aboutUs {
  background-color: #fff;
  padding: 4rem;
  margin-top: 4rem;
}

.aboutUs_container {
  display: flex;
  flex-direction: column;
}

.aboutUs_container_heading p {
  font-size: 0.8rem;
  font-weight: 600;
  color: #00a2ff;
}
.aboutUs_container_heading h3 {
  font-weight: 750;
}

.aboutUs_img {
  width: 30vw;
  height: 40vw;
}
.aboutUs_container_left {
  display: flex;
  gap: 7rem;
}

.aboutUs_container_right {
  width: 35rem;
}
.aboutUs_container_right p {
  font-size: 0.9em;
  font-weight: 400;
  text-align: justify;
  color: #828282;
}

@media (max-width: 373px) {
  .aboutUs_container_left {
    flex-direction: column;
    gap: 2vw;
    margin-left: -15vw;
  }

  .aboutUs_img {
    width: 80vw;
    height: 110vw;
  }

  .aboutUs_container_right {
    width: 80vw;
  }
  .aboutUs_container_right p {
    font-size: 4.5vw;
  }
}
@media (min-width: 374px) and (max-width: 575px) {
  .aboutUs_container_left {
    flex-direction: column;
    gap: 2vw;
  }

  .aboutUs_img {
    width: 60vw;
    height: 90vw;
  }

  .aboutUs_container_right {
    width: 80vw;
  }
  .aboutUs_container_right p {
    font-size: 2.5vw;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .aboutUs_container_left {
    flex-direction: column;
    gap: 2vw;
  }

  .aboutUs_img {
    width: 50vw;
    height: 70vw;
  }
  .aboutUs_container_right {
    width: 80vw;
  }
  .aboutUs_container_right p {
    font-size: 2.5vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .aboutUs_container_left {
    flex-direction: column;
    gap: 2vw;
  }

  .aboutUs_img {
    width: 40vw;
    height: 60vw;
  }

  .aboutUs_container_right p {
    font-size: 2vw;
  }
}
