.aboutCompany {
  margin-top: 6rem;
}

.aboutCompany_office_img {
  width: 40vw;
  height: 50vw;
}

.aboutCompany_data {
  display: flex;
  justify-content: space-evenly;
}

.aboutCompany_data_left {
  height: max-content;
  width: 45%;
}

.aboutCompany_data_left_headings h2 {
  font-weight: 700;
}

.aboutCompany_data_left_headings p {
  font-size: 0.8rem;
  font-weight: 700;
  color: #00a2ff;
}

.aboutCompany_data_left_info {
  font-size: 0.85rem;
  color: #828282;
}

.aboutCompany_data_left_founders {
  gap: 2rem;
}

.aboutCompany_data_left_founders p {
  color: #00a2ff;
  font-weight: 500;
}
@media (max-width: 373px) {
  .aboutCompany_data {
    flex-direction: column;
    margin-left: 15vw;
  }

  .aboutCompany_data_left {
    width: 70vw;
  }

  .aboutCompany_data_left_headings p {
    font-size: 4vw;
  }
  .aboutCompany_data_left_headings h2 {
    font-size: 7vw;
  }
  .aboutCompany_data_left_info p {
    font-size: 4vw;
    text-align: justify;
  }
  .aboutCompany_data_left_founders h5 {
    font-size: x-large;
  }

  .aboutCompany_data_left_founders p {
    font-size: larger;
  }

  .aboutCompany_data_left_button {
    width: 45vw;
    height: 10vh;
  }
  .aboutCompany_office_img {
    width: 70vw;
    height: 100vw;
    margin-top: 2rem;
  }
}
@media (min-width: 374px) and (max-width: 575px) {
  .aboutCompany_data {
    flex-direction: column;
    margin-left: 15vw;
  }

  .aboutCompany_data_left {
    width: 70vw;
  }

  .aboutCompany_data_left_headings p {
    font-size: 3vw;
  }
  .aboutCompany_data_left_headings h2 {
    font-size: 6vw;
  }
  .aboutCompany_data_left_info p {
    font-size: 3.5vw;
    text-align: justify;
  }
  .aboutCompany_data_left_founders h5 {
    font-size: x-large;
  }

  .aboutCompany_data_left_founders p {
    font-size: larger;
  }

  .aboutCompany_data_left_button {
    width: 40vw;
    height: 10vh;
  }
  .aboutCompany_office_img {
    width: 75vw;
    height: 100vw;
    margin-top: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .aboutCompany_data {
    flex-direction: column;
    align-items: center;
  }

  .aboutCompany_data_left {
    width: 70vw;
  }

  .aboutCompany_data_left_headings p {
    font-size: 2.5vw;
  }
  .aboutCompany_data_left_headings h2 {
    font-size: 5vw;
  }
  .aboutCompany_data_left_info p {
    font-size: 2vw;
    text-align: justify;
  }
  .aboutCompany_data_left_founders h5 {
    font-size: x-large;
  }

  .aboutCompany_data_left_founders p {
    font-size: larger;
  }

  .aboutCompany_data_left_button {
    width: 25vw;
    height: 10vh;
  }
  .aboutCompany_office_img {
    width: 60vw;
    height: 70vw;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .aboutCompany_data {
    flex-direction: column;
    align-items: center;
  }

  .aboutCompany_data_left {
    width: 70vw;
  }

  .aboutCompany_data_left_headings p {
    font-size: 2vw;
  }
  .aboutCompany_data_left_headings h2 {
    font-size: 5vw;
  }
  .aboutCompany_data_left_info p {
    font-size: 2vw;
    text-align: justify;
  }
  .aboutCompany_data_left_founders h5 {
    font-size: x-large;
  }

  .aboutCompany_data_left_founders p {
    font-size: larger;
  }

  .aboutCompany_data_left_button {
    width: 20vw;
    height: 10vh;
  }
  .aboutCompany_office_img {
    width: 60vw;
    height: 70vw;
    margin-top: 2rem;
  }
}
